# Set these variables in src/.env to the actual values

PORT=3002

# A database must be running at this URL to build the project
# (see sqlx query! macro docs)
DATABASE_URL=postgresql://userhere:passwordhere@localhost:5433/note_db

# Generate this by hashing the password with argon2
# cargo run --bin hashpw mypassword
# Ensure $ signs are escaped
# Should start with \$argon2
ADMIN_PASSWORD=
